--
-- PostgreSQL database dump
--

\restrict sYsKqcr2suXIGNc879hiLXWeMLdYudxL87oTMHac6A6swpS9hLHb0MuIqJR8Khd

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: softwave_db_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO softwave_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    last_login timestamp with time zone
);


ALTER TABLE public.admin_users OWNER TO softwave_db_user;

--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_users_id_seq OWNER TO softwave_db_user;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    user_id integer,
    action character varying(100),
    detail text,
    ip_address character varying(45),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.audit_log OWNER TO softwave_db_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO softwave_db_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: branches; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.branches (
    id integer NOT NULL,
    code character varying(10) NOT NULL,
    name character varying(100) NOT NULL,
    location character varying(200),
    contact character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.branches OWNER TO softwave_db_user;

--
-- Name: branches_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.branches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.branches_id_seq OWNER TO softwave_db_user;

--
-- Name: branches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.branches_id_seq OWNED BY public.branches.id;


--
-- Name: daily_paper_logs; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.daily_paper_logs (
    id integer NOT NULL,
    branch_id integer NOT NULL,
    logged_by integer NOT NULL,
    log_date date DEFAULT CURRENT_DATE NOT NULL,
    paper_type character varying(10) NOT NULL,
    single_side integer DEFAULT 0 NOT NULL,
    double_side integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    waste_a4 integer DEFAULT 0,
    waste_b4 integer DEFAULT 0,
    waste_legal integer DEFAULT 0,
    CONSTRAINT daily_paper_logs_paper_type_check CHECK (((paper_type)::text = ANY ((ARRAY['a4'::character varying, 'b4'::character varying, 'legal'::character varying])::text[])))
);


ALTER TABLE public.daily_paper_logs OWNER TO softwave_db_user;

--
-- Name: daily_paper_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.daily_paper_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_paper_logs_id_seq OWNER TO softwave_db_user;

--
-- Name: daily_paper_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.daily_paper_logs_id_seq OWNED BY public.daily_paper_logs.id;


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    department character varying(50) NOT NULL,
    rating character varying(20) NOT NULL,
    comment text,
    submitted_at timestamp with time zone DEFAULT now(),
    ip_address character varying(45),
    user_agent text,
    CONSTRAINT feedback_department_check CHECK (((department)::text = ANY ((ARRAY['frontdesk'::character varying, 'designing'::character varying])::text[]))),
    CONSTRAINT feedback_rating_check CHECK (((rating)::text = ANY ((ARRAY['not_satisfied'::character varying, 'neutral'::character varying, 'satisfied'::character varying])::text[])))
);


ALTER TABLE public.feedback OWNER TO softwave_db_user;

--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_id_seq OWNER TO softwave_db_user;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: hardware_requests; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.hardware_requests (
    id integer NOT NULL,
    branch_id integer NOT NULL,
    printer_id integer NOT NULL,
    part_name character varying(100) NOT NULL,
    priority character varying(20) DEFAULT 'normal'::character varying NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    notes text,
    requested_by integer,
    reviewed_by integer,
    dispatched_by integer,
    installed_by integer,
    review_note text,
    requested_at timestamp with time zone DEFAULT now(),
    reviewed_at timestamp with time zone,
    dispatched_at timestamp with time zone,
    installed_at timestamp with time zone,
    estimated_life_months integer DEFAULT 12,
    price_lkr integer DEFAULT 0
);


ALTER TABLE public.hardware_requests OWNER TO softwave_db_user;

--
-- Name: hardware_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.hardware_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hardware_requests_id_seq OWNER TO softwave_db_user;

--
-- Name: hardware_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.hardware_requests_id_seq OWNED BY public.hardware_requests.id;


--
-- Name: import_requests; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.import_requests (
    id integer NOT NULL,
    import_type character varying(30) NOT NULL,
    filename character varying(200),
    row_count integer DEFAULT 0,
    payload jsonb,
    status character varying(10) DEFAULT 'pending'::character varying,
    submitted_by integer,
    reviewed_by integer,
    review_note text,
    submitted_at timestamp with time zone DEFAULT now(),
    reviewed_at timestamp with time zone,
    CONSTRAINT import_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.import_requests OWNER TO softwave_db_user;

--
-- Name: import_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.import_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.import_requests_id_seq OWNER TO softwave_db_user;

--
-- Name: import_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.import_requests_id_seq OWNED BY public.import_requests.id;


--
-- Name: paper_branch_stock; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.paper_branch_stock (
    id integer NOT NULL,
    paper_type_id integer NOT NULL,
    branch_id integer NOT NULL,
    quantity integer DEFAULT 0,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.paper_branch_stock OWNER TO softwave_db_user;

--
-- Name: paper_branch_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.paper_branch_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paper_branch_stock_id_seq OWNER TO softwave_db_user;

--
-- Name: paper_branch_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.paper_branch_stock_id_seq OWNED BY public.paper_branch_stock.id;


--
-- Name: paper_movements; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.paper_movements (
    id integer NOT NULL,
    paper_type_id integer,
    movement_type character varying(5),
    quantity integer NOT NULL,
    branch_id integer,
    printer_id integer,
    performed_by integer,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT paper_movements_movement_type_check CHECK (((movement_type)::text = ANY ((ARRAY['IN'::character varying, 'OUT'::character varying])::text[])))
);


ALTER TABLE public.paper_movements OWNER TO softwave_db_user;

--
-- Name: paper_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.paper_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paper_movements_id_seq OWNER TO softwave_db_user;

--
-- Name: paper_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.paper_movements_id_seq OWNED BY public.paper_movements.id;


--
-- Name: paper_printer_stock; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.paper_printer_stock (
    id integer NOT NULL,
    paper_type_id integer NOT NULL,
    printer_id integer NOT NULL,
    quantity integer DEFAULT 0,
    capacity integer DEFAULT 5,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.paper_printer_stock OWNER TO softwave_db_user;

--
-- Name: paper_printer_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.paper_printer_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paper_printer_stock_id_seq OWNER TO softwave_db_user;

--
-- Name: paper_printer_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.paper_printer_stock_id_seq OWNED BY public.paper_printer_stock.id;


--
-- Name: paper_stock; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.paper_stock (
    id integer NOT NULL,
    paper_type_id integer NOT NULL,
    quantity integer DEFAULT 0,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.paper_stock OWNER TO softwave_db_user;

--
-- Name: paper_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.paper_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paper_stock_id_seq OWNER TO softwave_db_user;

--
-- Name: paper_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.paper_stock_id_seq OWNED BY public.paper_stock.id;


--
-- Name: paper_types; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.paper_types (
    id integer NOT NULL,
    name character varying(80) NOT NULL,
    size character varying(10) DEFAULT 'A4'::character varying,
    gsm integer DEFAULT 80,
    min_stock integer DEFAULT 10,
    created_at timestamp with time zone DEFAULT now(),
    price_per_ream integer DEFAULT 0
);


ALTER TABLE public.paper_types OWNER TO softwave_db_user;

--
-- Name: paper_types_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.paper_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paper_types_id_seq OWNER TO softwave_db_user;

--
-- Name: paper_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.paper_types_id_seq OWNED BY public.paper_types.id;


--
-- Name: print_logs; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.print_logs (
    id integer NOT NULL,
    printer_id integer NOT NULL,
    logged_by integer NOT NULL,
    print_count integer NOT NULL,
    log_date date DEFAULT CURRENT_DATE NOT NULL,
    notes text,
    a4_single integer DEFAULT 0,
    a4_double integer DEFAULT 0,
    b4_single integer DEFAULT 0,
    b4_double integer DEFAULT 0,
    letter_single integer DEFAULT 0,
    letter_double integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    meter_reading bigint DEFAULT 0,
    CONSTRAINT print_logs_print_count_check CHECK ((print_count >= 0))
);


ALTER TABLE public.print_logs OWNER TO softwave_db_user;

--
-- Name: print_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.print_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.print_logs_id_seq OWNER TO softwave_db_user;

--
-- Name: print_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.print_logs_id_seq OWNED BY public.print_logs.id;


--
-- Name: printers; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.printers (
    id integer NOT NULL,
    branch_id integer NOT NULL,
    printer_code character varying(30) NOT NULL,
    model character varying(100),
    location_note character varying(200),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.printers OWNER TO softwave_db_user;

--
-- Name: printers_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.printers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.printers_id_seq OWNER TO softwave_db_user;

--
-- Name: printers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.printers_id_seq OWNED BY public.printers.id;


--
-- Name: purchased_printers; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.purchased_printers (
    id integer NOT NULL,
    serial_number character varying(30) NOT NULL,
    branch_name character varying(100) NOT NULL,
    model character varying(100),
    purchased_date date,
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.purchased_printers OWNER TO softwave_db_user;

--
-- Name: purchased_printers_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.purchased_printers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.purchased_printers_id_seq OWNER TO softwave_db_user;

--
-- Name: purchased_printers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.purchased_printers_id_seq OWNED BY public.purchased_printers.id;


--
-- Name: rental_printers; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.rental_printers (
    id integer NOT NULL,
    serial_number character varying(30) NOT NULL,
    branch_name character varying(100) NOT NULL,
    agreement_date date NOT NULL,
    end_date date NOT NULL,
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.rental_printers OWNER TO softwave_db_user;

--
-- Name: rental_printers_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.rental_printers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rental_printers_id_seq OWNER TO softwave_db_user;

--
-- Name: rental_printers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.rental_printers_id_seq OWNED BY public.rental_printers.id;


--
-- Name: replacement_requests; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.replacement_requests (
    id integer NOT NULL,
    request_type character varying(10) NOT NULL,
    printer_id integer NOT NULL,
    toner_model_id integer,
    paper_type_id integer,
    quantity integer DEFAULT 1,
    priority character varying(10) DEFAULT 'normal'::character varying,
    notes text,
    status character varying(10) DEFAULT 'pending'::character varying,
    requested_by integer NOT NULL,
    reviewed_by integer,
    review_note text,
    requested_at timestamp with time zone DEFAULT now(),
    reviewed_at timestamp with time zone,
    dispatched_by integer,
    dispatched_at timestamp with time zone,
    dispatch_note text,
    CONSTRAINT replacement_requests_priority_check CHECK (((priority)::text = ANY ((ARRAY['normal'::character varying, 'urgent'::character varying, 'critical'::character varying])::text[]))),
    CONSTRAINT replacement_requests_request_type_check CHECK (((request_type)::text = ANY ((ARRAY['toner'::character varying, 'paper'::character varying])::text[]))),
    CONSTRAINT replacement_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying, 'dispatched'::character varying])::text[])))
);


ALTER TABLE public.replacement_requests OWNER TO softwave_db_user;

--
-- Name: replacement_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.replacement_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.replacement_requests_id_seq OWNER TO softwave_db_user;

--
-- Name: replacement_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.replacement_requests_id_seq OWNED BY public.replacement_requests.id;


--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.stock_movements (
    id integer NOT NULL,
    toner_model_id integer,
    movement_type character varying(5),
    quantity integer NOT NULL,
    branch_id integer,
    printer_id integer,
    installation_id integer,
    performed_by integer,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT stock_movements_movement_type_check CHECK (((movement_type)::text = ANY ((ARRAY['IN'::character varying, 'OUT'::character varying])::text[])))
);


ALTER TABLE public.stock_movements OWNER TO softwave_db_user;

--
-- Name: stock_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.stock_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_movements_id_seq OWNER TO softwave_db_user;

--
-- Name: stock_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.stock_movements_id_seq OWNED BY public.stock_movements.id;


--
-- Name: toner_alerts_sent; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.toner_alerts_sent (
    id integer NOT NULL,
    printer_id integer NOT NULL,
    threshold integer NOT NULL,
    sent_at timestamp with time zone DEFAULT now(),
    installation_id integer
);


ALTER TABLE public.toner_alerts_sent OWNER TO softwave_db_user;

--
-- Name: toner_alerts_sent_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.toner_alerts_sent_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.toner_alerts_sent_id_seq OWNER TO softwave_db_user;

--
-- Name: toner_alerts_sent_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.toner_alerts_sent_id_seq OWNED BY public.toner_alerts_sent.id;


--
-- Name: toner_installations; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.toner_installations (
    id integer NOT NULL,
    printer_id integer NOT NULL,
    toner_model_id integer NOT NULL,
    installed_by integer,
    yield_copies integer NOT NULL,
    avg_daily_copies integer DEFAULT 50,
    current_pct numeric(5,2) DEFAULT 100,
    current_copies integer,
    is_current boolean DEFAULT true,
    installed_at timestamp with time zone DEFAULT now(),
    total_copies_done integer DEFAULT 0
);


ALTER TABLE public.toner_installations OWNER TO softwave_db_user;

--
-- Name: toner_installations_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.toner_installations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.toner_installations_id_seq OWNER TO softwave_db_user;

--
-- Name: toner_installations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.toner_installations_id_seq OWNED BY public.toner_installations.id;


--
-- Name: toner_models; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.toner_models (
    id integer NOT NULL,
    model_code character varying(80) NOT NULL,
    brand character varying(60),
    yield_copies integer DEFAULT 10000 NOT NULL,
    color character varying(20) DEFAULT 'black'::character varying,
    min_stock integer DEFAULT 3,
    created_at timestamp with time zone DEFAULT now(),
    price_lkr numeric(10,2) DEFAULT 0
);


ALTER TABLE public.toner_models OWNER TO softwave_db_user;

--
-- Name: toner_models_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.toner_models_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.toner_models_id_seq OWNER TO softwave_db_user;

--
-- Name: toner_models_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.toner_models_id_seq OWNED BY public.toner_models.id;


--
-- Name: toner_stock; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.toner_stock (
    id integer NOT NULL,
    toner_model_id integer NOT NULL,
    quantity integer DEFAULT 0,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.toner_stock OWNER TO softwave_db_user;

--
-- Name: toner_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.toner_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.toner_stock_id_seq OWNER TO softwave_db_user;

--
-- Name: toner_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.toner_stock_id_seq OWNED BY public.toner_stock.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: softwave_db_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    full_name character varying(100) NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    branch_access character varying(100) DEFAULT 'ALL'::character varying,
    is_active boolean DEFAULT true,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['manager'::character varying, 'service'::character varying, 'dba'::character varying, 'store'::character varying, 'nuwan'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO softwave_db_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: softwave_db_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO softwave_db_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: softwave_db_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: v_daily_trend; Type: VIEW; Schema: public; Owner: softwave_db_user
--

CREATE VIEW public.v_daily_trend AS
 SELECT date((submitted_at AT TIME ZONE 'UTC'::text)) AS date,
    department,
    rating,
    count(*) AS count
   FROM public.feedback
  GROUP BY (date((submitted_at AT TIME ZONE 'UTC'::text))), department, rating
  ORDER BY (date((submitted_at AT TIME ZONE 'UTC'::text))) DESC, department, rating;


ALTER VIEW public.v_daily_trend OWNER TO softwave_db_user;

--
-- Name: v_feedback_summary; Type: VIEW; Schema: public; Owner: softwave_db_user
--

CREATE VIEW public.v_feedback_summary AS
 SELECT department,
    rating,
    count(*) AS total,
    round((((count(*))::numeric * 100.0) / sum(count(*)) OVER (PARTITION BY department)), 2) AS percentage
   FROM public.feedback
  GROUP BY department, rating
  ORDER BY department, rating;


ALTER VIEW public.v_feedback_summary OWNER TO softwave_db_user;

--
-- Name: v_printer_status; Type: VIEW; Schema: public; Owner: softwave_db_user
--

CREATE VIEW public.v_printer_status AS
 SELECT p.id AS printer_id,
    p.printer_code,
    p.model AS printer_model,
    p.location_note,
    p.branch_id,
    b.code AS branch_code,
    b.name AS branch_name,
    tm.model_code AS toner_model,
    tm.id AS toner_model_id,
    COALESCE(ti.yield_copies, 0) AS yield_copies,
    COALESCE(ti.avg_daily_copies, 0) AS avg_daily_copies,
    ti.installed_at,
    ti.id AS installation_id,
    COALESCE(ti.total_copies_done, 0) AS total_prints_since_install,
    GREATEST(0, (COALESCE(ti.yield_copies, 0) - COALESCE(ti.total_copies_done, 0))) AS copies_remaining,
    round(GREATEST(0.0, ((100.0 * ((COALESCE(ti.yield_copies, 0) - COALESCE(ti.total_copies_done, 0)))::numeric) / (NULLIF(ti.yield_copies, 0))::numeric)), 1) AS pct_remaining,
    round(GREATEST(0.0, ((100.0 * ((COALESCE(ti.yield_copies, 0) - COALESCE(ti.total_copies_done, 0)))::numeric) / (NULLIF(ti.yield_copies, 0))::numeric)), 1) AS current_pct,
        CASE
            WHEN (COALESCE(ti.avg_daily_copies, 0) > 0) THEN round(((GREATEST(0, (COALESCE(ti.yield_copies, 0) - COALESCE(ti.total_copies_done, 0))))::numeric / (ti.avg_daily_copies)::numeric))
            ELSE NULL::numeric
        END AS days_remaining,
        CASE
            WHEN (COALESCE(ti.avg_daily_copies, 0) > 0) THEN (CURRENT_DATE + (((GREATEST(0, (COALESCE(ti.yield_copies, 0) - COALESCE(ti.total_copies_done, 0))))::numeric / (ti.avg_daily_copies)::numeric))::integer)
            ELSE NULL::date
        END AS next_toner_date
   FROM (((public.printers p
     JOIN public.branches b ON ((b.id = p.branch_id)))
     LEFT JOIN public.toner_installations ti ON (((ti.printer_id = p.id) AND (ti.is_current = true))))
     LEFT JOIN public.toner_models tm ON ((tm.id = ti.toner_model_id)))
  WHERE (p.is_active = true);


ALTER VIEW public.v_printer_status OWNER TO softwave_db_user;

--
-- Name: v_satisfaction_score; Type: VIEW; Schema: public; Owner: softwave_db_user
--

CREATE VIEW public.v_satisfaction_score AS
 SELECT department,
    count(*) AS total_responses,
    round(avg(
        CASE rating
            WHEN 'satisfied'::text THEN 100
            WHEN 'neutral'::text THEN 50
            WHEN 'not_satisfied'::text THEN 0
            ELSE NULL::integer
        END), 2) AS satisfaction_score,
    sum(
        CASE
            WHEN ((rating)::text = 'satisfied'::text) THEN 1
            ELSE 0
        END) AS satisfied_count,
    sum(
        CASE
            WHEN ((rating)::text = 'neutral'::text) THEN 1
            ELSE 0
        END) AS neutral_count,
    sum(
        CASE
            WHEN ((rating)::text = 'not_satisfied'::text) THEN 1
            ELSE 0
        END) AS not_satisfied_count
   FROM public.feedback
  GROUP BY department;


ALTER VIEW public.v_satisfaction_score OWNER TO softwave_db_user;

--
-- Name: v_stock_summary; Type: VIEW; Schema: public; Owner: softwave_db_user
--

CREATE VIEW public.v_stock_summary AS
 SELECT tm.id,
    tm.model_code,
    tm.brand,
    tm.yield_copies,
    tm.color,
    tm.min_stock,
    COALESCE(ts.quantity, 0) AS quantity
   FROM (public.toner_models tm
     LEFT JOIN public.toner_stock ts ON ((ts.toner_model_id = tm.id)));


ALTER VIEW public.v_stock_summary OWNER TO softwave_db_user;

--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: branches id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.branches ALTER COLUMN id SET DEFAULT nextval('public.branches_id_seq'::regclass);


--
-- Name: daily_paper_logs id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.daily_paper_logs ALTER COLUMN id SET DEFAULT nextval('public.daily_paper_logs_id_seq'::regclass);


--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: hardware_requests id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.hardware_requests ALTER COLUMN id SET DEFAULT nextval('public.hardware_requests_id_seq'::regclass);


--
-- Name: import_requests id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.import_requests ALTER COLUMN id SET DEFAULT nextval('public.import_requests_id_seq'::regclass);


--
-- Name: paper_branch_stock id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_branch_stock ALTER COLUMN id SET DEFAULT nextval('public.paper_branch_stock_id_seq'::regclass);


--
-- Name: paper_movements id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_movements ALTER COLUMN id SET DEFAULT nextval('public.paper_movements_id_seq'::regclass);


--
-- Name: paper_printer_stock id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_printer_stock ALTER COLUMN id SET DEFAULT nextval('public.paper_printer_stock_id_seq'::regclass);


--
-- Name: paper_stock id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_stock ALTER COLUMN id SET DEFAULT nextval('public.paper_stock_id_seq'::regclass);


--
-- Name: paper_types id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_types ALTER COLUMN id SET DEFAULT nextval('public.paper_types_id_seq'::regclass);


--
-- Name: print_logs id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.print_logs ALTER COLUMN id SET DEFAULT nextval('public.print_logs_id_seq'::regclass);


--
-- Name: printers id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.printers ALTER COLUMN id SET DEFAULT nextval('public.printers_id_seq'::regclass);


--
-- Name: purchased_printers id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.purchased_printers ALTER COLUMN id SET DEFAULT nextval('public.purchased_printers_id_seq'::regclass);


--
-- Name: rental_printers id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.rental_printers ALTER COLUMN id SET DEFAULT nextval('public.rental_printers_id_seq'::regclass);


--
-- Name: replacement_requests id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.replacement_requests ALTER COLUMN id SET DEFAULT nextval('public.replacement_requests_id_seq'::regclass);


--
-- Name: stock_movements id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.stock_movements ALTER COLUMN id SET DEFAULT nextval('public.stock_movements_id_seq'::regclass);


--
-- Name: toner_alerts_sent id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_alerts_sent ALTER COLUMN id SET DEFAULT nextval('public.toner_alerts_sent_id_seq'::regclass);


--
-- Name: toner_installations id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_installations ALTER COLUMN id SET DEFAULT nextval('public.toner_installations_id_seq'::regclass);


--
-- Name: toner_models id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_models ALTER COLUMN id SET DEFAULT nextval('public.toner_models_id_seq'::regclass);


--
-- Name: toner_stock id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_stock ALTER COLUMN id SET DEFAULT nextval('public.toner_stock_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.admin_users (id, username, password_hash, created_at, last_login) FROM stdin;
1	admin	$2b$12$LQv3c1yqBWVHxkd0LHAkCOYz6TtxMaF5F5pP0QJ4W3X8Y6Z2a1b3e	2026-03-31 03:45:41.113913+00	\N
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: daily_paper_logs; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: hardware_requests; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.hardware_requests (id, branch_id, printer_id, part_name, priority, status, notes, requested_by, reviewed_by, dispatched_by, installed_by, review_note, requested_at, reviewed_at, dispatched_at, installed_at, estimated_life_months, price_lkr) FROM stdin;
\.


--
-- Data for Name: import_requests; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.import_requests (id, import_type, filename, row_count, payload, status, submitted_by, reviewed_by, review_note, submitted_at, reviewed_at) FROM stdin;
\.


--
-- Data for Name: paper_branch_stock; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.paper_branch_stock (id, paper_type_id, branch_id, quantity, updated_at) FROM stdin;
\.


--
-- Data for Name: paper_movements; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.paper_movements (id, paper_type_id, movement_type, quantity, branch_id, printer_id, performed_by, notes, created_at) FROM stdin;
\.


--
-- Data for Name: paper_printer_stock; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.paper_printer_stock (id, paper_type_id, printer_id, quantity, capacity, updated_at) FROM stdin;
\.


--
-- Data for Name: paper_stock; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.paper_stock (id, paper_type_id, quantity, updated_at) FROM stdin;
1	1	0	2026-03-23 18:11:33.927777+00
2	2	0	2026-03-23 18:11:33.927777+00
3	3	0	2026-03-23 18:11:33.927777+00
\.


--
-- Data for Name: paper_types; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.paper_types (id, name, size, gsm, min_stock, created_at, price_per_ream) FROM stdin;
1	A4 80gsm	A4	80	20	2026-03-23 18:11:33.927777+00	2700
2	B4 80gsm	B4	80	15	2026-03-23 18:11:33.927777+00	3200
3	Letter 75gsm	Letter	75	10	2026-03-23 18:11:33.927777+00	3300
\.


--
-- Data for Name: print_logs; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: printers; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: purchased_printers; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: rental_printers; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: replacement_requests; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.replacement_requests (id, request_type, printer_id, toner_model_id, paper_type_id, quantity, priority, notes, status, requested_by, reviewed_by, review_note, requested_at, reviewed_at, dispatched_by, dispatched_at, dispatch_note) FROM stdin;
1	toner	20	4	\N	1	normal	Testing request	dispatched	3	1	Managre testing	2026-03-23 19:13:42.723753+00	2026-03-23 19:14:22.263675+00	8	2026-03-23 19:15:43.73293+00	Testing store
\.


--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.stock_movements (id, toner_model_id, movement_type, quantity, branch_id, printer_id, installation_id, performed_by, notes, created_at) FROM stdin;
1	4	IN	1	\N	\N	\N	8	Purchase Date: 2026-03-24 | Testing stocks	2026-03-23 19:15:23.86807+00
2	4	OUT	-1	9	20	60	8	Dispatched for request #1	2026-03-23 19:15:43.532926+00
3	8	OUT	-1	33	60	62	10	Physical toner replacement by service person	2026-03-25 10:39:31.033112+00
4	2	OUT	-1	5	8	63	12	Physical toner replacement by service person	2026-03-27 10:13:15.946242+00
\.


--
-- Data for Name: toner_alerts_sent; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.toner_alerts_sent (id, printer_id, threshold, sent_at, installation_id) FROM stdin;
1	5	10	2026-03-27 10:19:40.624549+00	23
2	6	10	2026-03-27 10:19:40.754446+00	39
3	7	10	2026-03-27 10:19:40.845293+00	59
4	8	10	2026-03-27 10:19:40.964438+00	63
\.


--
-- Data for Name: toner_installations; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: toner_models; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Data for Name: toner_stock; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--

COPY public.toner_stock (id, toner_model_id, quantity, updated_at) FROM stdin;
1	1	0	2026-03-23 18:11:33.927777+00
2	2	0	2026-03-23 18:11:33.927777+00
3	3	0	2026-03-23 18:11:33.927777+00
5	5	0	2026-03-23 18:11:33.927777+00
6	6	0	2026-03-23 18:11:33.927777+00
7	7	0	2026-03-23 18:11:33.927777+00
4	4	0	2026-03-23 19:15:43.227354+00
9	8	0	2026-03-25 10:29:58.372916+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: softwave_db_user
--



--
-- Name: admin_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.admin_users_id_seq', 1, true);


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 384, true);


--
-- Name: branches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.branches_id_seq', 33, true);


--
-- Name: daily_paper_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.daily_paper_logs_id_seq', 26, true);


--
-- Name: feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.feedback_id_seq', 8, true);


--
-- Name: hardware_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.hardware_requests_id_seq', 1, false);


--
-- Name: import_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.import_requests_id_seq', 1, false);


--
-- Name: paper_branch_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.paper_branch_stock_id_seq', 1, false);


--
-- Name: paper_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.paper_movements_id_seq', 1, false);


--
-- Name: paper_printer_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.paper_printer_stock_id_seq', 1, false);


--
-- Name: paper_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.paper_stock_id_seq', 3, true);


--
-- Name: paper_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.paper_types_id_seq', 3, true);


--
-- Name: print_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.print_logs_id_seq', 74, true);


--
-- Name: printers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.printers_id_seq', 60, true);


--
-- Name: purchased_printers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.purchased_printers_id_seq', 59, true);


--
-- Name: rental_printers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.rental_printers_id_seq', 63, true);


--
-- Name: replacement_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.replacement_requests_id_seq', 1, true);


--
-- Name: stock_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.stock_movements_id_seq', 4, true);


--
-- Name: toner_alerts_sent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.toner_alerts_sent_id_seq', 4, true);


--
-- Name: toner_installations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.toner_installations_id_seq', 63, true);


--
-- Name: toner_models_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.toner_models_id_seq', 8, true);


--
-- Name: toner_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.toner_stock_id_seq', 9, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: softwave_db_user
--

SELECT pg_catalog.setval('public.users_id_seq', 13, true);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_username_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_username_key UNIQUE (username);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: branches branches_code_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_code_key UNIQUE (code);


--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: daily_paper_logs daily_paper_logs_branch_id_log_date_paper_type_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.daily_paper_logs
    ADD CONSTRAINT daily_paper_logs_branch_id_log_date_paper_type_key UNIQUE (branch_id, log_date, paper_type);


--
-- Name: daily_paper_logs daily_paper_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.daily_paper_logs
    ADD CONSTRAINT daily_paper_logs_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: hardware_requests hardware_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.hardware_requests
    ADD CONSTRAINT hardware_requests_pkey PRIMARY KEY (id);


--
-- Name: import_requests import_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.import_requests
    ADD CONSTRAINT import_requests_pkey PRIMARY KEY (id);


--
-- Name: paper_branch_stock paper_branch_stock_paper_type_id_branch_id_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_branch_stock
    ADD CONSTRAINT paper_branch_stock_paper_type_id_branch_id_key UNIQUE (paper_type_id, branch_id);


--
-- Name: paper_branch_stock paper_branch_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_branch_stock
    ADD CONSTRAINT paper_branch_stock_pkey PRIMARY KEY (id);


--
-- Name: paper_movements paper_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_movements
    ADD CONSTRAINT paper_movements_pkey PRIMARY KEY (id);


--
-- Name: paper_printer_stock paper_printer_stock_paper_type_id_printer_id_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_printer_stock
    ADD CONSTRAINT paper_printer_stock_paper_type_id_printer_id_key UNIQUE (paper_type_id, printer_id);


--
-- Name: paper_printer_stock paper_printer_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_printer_stock
    ADD CONSTRAINT paper_printer_stock_pkey PRIMARY KEY (id);


--
-- Name: paper_stock paper_stock_paper_type_id_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_stock
    ADD CONSTRAINT paper_stock_paper_type_id_key UNIQUE (paper_type_id);


--
-- Name: paper_stock paper_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_stock
    ADD CONSTRAINT paper_stock_pkey PRIMARY KEY (id);


--
-- Name: paper_types paper_types_name_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_types
    ADD CONSTRAINT paper_types_name_key UNIQUE (name);


--
-- Name: paper_types paper_types_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_types
    ADD CONSTRAINT paper_types_pkey PRIMARY KEY (id);


--
-- Name: print_logs print_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.print_logs
    ADD CONSTRAINT print_logs_pkey PRIMARY KEY (id);


--
-- Name: print_logs print_logs_printer_date_unique; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.print_logs
    ADD CONSTRAINT print_logs_printer_date_unique UNIQUE (printer_id, log_date);


--
-- Name: print_logs print_logs_printer_id_log_date_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.print_logs
    ADD CONSTRAINT print_logs_printer_id_log_date_key UNIQUE (printer_id, log_date);


--
-- Name: printers printers_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.printers
    ADD CONSTRAINT printers_pkey PRIMARY KEY (id);


--
-- Name: printers printers_printer_code_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.printers
    ADD CONSTRAINT printers_printer_code_key UNIQUE (printer_code);


--
-- Name: purchased_printers purchased_printers_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.purchased_printers
    ADD CONSTRAINT purchased_printers_pkey PRIMARY KEY (id);


--
-- Name: purchased_printers purchased_printers_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.purchased_printers
    ADD CONSTRAINT purchased_printers_serial_number_key UNIQUE (serial_number);


--
-- Name: rental_printers rental_printers_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.rental_printers
    ADD CONSTRAINT rental_printers_pkey PRIMARY KEY (id);


--
-- Name: rental_printers rental_printers_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.rental_printers
    ADD CONSTRAINT rental_printers_serial_number_key UNIQUE (serial_number);


--
-- Name: replacement_requests replacement_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.replacement_requests
    ADD CONSTRAINT replacement_requests_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: toner_alerts_sent toner_alerts_sent_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_alerts_sent
    ADD CONSTRAINT toner_alerts_sent_pkey PRIMARY KEY (id);


--
-- Name: toner_alerts_sent toner_alerts_sent_printer_id_threshold_installation_id_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_alerts_sent
    ADD CONSTRAINT toner_alerts_sent_printer_id_threshold_installation_id_key UNIQUE (printer_id, threshold, installation_id);


--
-- Name: toner_installations toner_installations_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_installations
    ADD CONSTRAINT toner_installations_pkey PRIMARY KEY (id);


--
-- Name: toner_models toner_models_model_code_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_models
    ADD CONSTRAINT toner_models_model_code_key UNIQUE (model_code);


--
-- Name: toner_models toner_models_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_models
    ADD CONSTRAINT toner_models_pkey PRIMARY KEY (id);


--
-- Name: toner_stock toner_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_stock
    ADD CONSTRAINT toner_stock_pkey PRIMARY KEY (id);


--
-- Name: toner_stock toner_stock_toner_model_id_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_stock
    ADD CONSTRAINT toner_stock_toner_model_id_key UNIQUE (toner_model_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_feedback_department; Type: INDEX; Schema: public; Owner: softwave_db_user
--

CREATE INDEX idx_feedback_department ON public.feedback USING btree (department);


--
-- Name: idx_feedback_dept_date; Type: INDEX; Schema: public; Owner: softwave_db_user
--

CREATE INDEX idx_feedback_dept_date ON public.feedback USING btree (department, submitted_at);


--
-- Name: idx_feedback_dept_rating; Type: INDEX; Schema: public; Owner: softwave_db_user
--

CREATE INDEX idx_feedback_dept_rating ON public.feedback USING btree (department, rating);


--
-- Name: idx_feedback_rating; Type: INDEX; Schema: public; Owner: softwave_db_user
--

CREATE INDEX idx_feedback_rating ON public.feedback USING btree (rating);


--
-- Name: idx_feedback_submitted_at; Type: INDEX; Schema: public; Owner: softwave_db_user
--

CREATE INDEX idx_feedback_submitted_at ON public.feedback USING btree (submitted_at);


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: daily_paper_logs daily_paper_logs_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.daily_paper_logs
    ADD CONSTRAINT daily_paper_logs_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: daily_paper_logs daily_paper_logs_logged_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.daily_paper_logs
    ADD CONSTRAINT daily_paper_logs_logged_by_fkey FOREIGN KEY (logged_by) REFERENCES public.users(id);


--
-- Name: hardware_requests hardware_requests_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.hardware_requests
    ADD CONSTRAINT hardware_requests_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: hardware_requests hardware_requests_dispatched_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.hardware_requests
    ADD CONSTRAINT hardware_requests_dispatched_by_fkey FOREIGN KEY (dispatched_by) REFERENCES public.users(id);


--
-- Name: hardware_requests hardware_requests_installed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.hardware_requests
    ADD CONSTRAINT hardware_requests_installed_by_fkey FOREIGN KEY (installed_by) REFERENCES public.users(id);


--
-- Name: hardware_requests hardware_requests_printer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.hardware_requests
    ADD CONSTRAINT hardware_requests_printer_id_fkey FOREIGN KEY (printer_id) REFERENCES public.printers(id);


--
-- Name: hardware_requests hardware_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.hardware_requests
    ADD CONSTRAINT hardware_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(id);


--
-- Name: hardware_requests hardware_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.hardware_requests
    ADD CONSTRAINT hardware_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: import_requests import_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.import_requests
    ADD CONSTRAINT import_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: import_requests import_requests_submitted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.import_requests
    ADD CONSTRAINT import_requests_submitted_by_fkey FOREIGN KEY (submitted_by) REFERENCES public.users(id);


--
-- Name: paper_branch_stock paper_branch_stock_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_branch_stock
    ADD CONSTRAINT paper_branch_stock_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: paper_branch_stock paper_branch_stock_paper_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_branch_stock
    ADD CONSTRAINT paper_branch_stock_paper_type_id_fkey FOREIGN KEY (paper_type_id) REFERENCES public.paper_types(id);


--
-- Name: paper_movements paper_movements_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_movements
    ADD CONSTRAINT paper_movements_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: paper_movements paper_movements_paper_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_movements
    ADD CONSTRAINT paper_movements_paper_type_id_fkey FOREIGN KEY (paper_type_id) REFERENCES public.paper_types(id);


--
-- Name: paper_movements paper_movements_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_movements
    ADD CONSTRAINT paper_movements_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id);


--
-- Name: paper_movements paper_movements_printer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_movements
    ADD CONSTRAINT paper_movements_printer_id_fkey FOREIGN KEY (printer_id) REFERENCES public.printers(id);


--
-- Name: paper_printer_stock paper_printer_stock_paper_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_printer_stock
    ADD CONSTRAINT paper_printer_stock_paper_type_id_fkey FOREIGN KEY (paper_type_id) REFERENCES public.paper_types(id);


--
-- Name: paper_printer_stock paper_printer_stock_printer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_printer_stock
    ADD CONSTRAINT paper_printer_stock_printer_id_fkey FOREIGN KEY (printer_id) REFERENCES public.printers(id);


--
-- Name: paper_stock paper_stock_paper_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.paper_stock
    ADD CONSTRAINT paper_stock_paper_type_id_fkey FOREIGN KEY (paper_type_id) REFERENCES public.paper_types(id);


--
-- Name: print_logs print_logs_logged_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.print_logs
    ADD CONSTRAINT print_logs_logged_by_fkey FOREIGN KEY (logged_by) REFERENCES public.users(id);


--
-- Name: print_logs print_logs_printer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.print_logs
    ADD CONSTRAINT print_logs_printer_id_fkey FOREIGN KEY (printer_id) REFERENCES public.printers(id);


--
-- Name: printers printers_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.printers
    ADD CONSTRAINT printers_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: replacement_requests replacement_requests_dispatched_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.replacement_requests
    ADD CONSTRAINT replacement_requests_dispatched_by_fkey FOREIGN KEY (dispatched_by) REFERENCES public.users(id);


--
-- Name: replacement_requests replacement_requests_paper_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.replacement_requests
    ADD CONSTRAINT replacement_requests_paper_type_id_fkey FOREIGN KEY (paper_type_id) REFERENCES public.paper_types(id);


--
-- Name: replacement_requests replacement_requests_printer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.replacement_requests
    ADD CONSTRAINT replacement_requests_printer_id_fkey FOREIGN KEY (printer_id) REFERENCES public.printers(id);


--
-- Name: replacement_requests replacement_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.replacement_requests
    ADD CONSTRAINT replacement_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(id);


--
-- Name: replacement_requests replacement_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.replacement_requests
    ADD CONSTRAINT replacement_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: replacement_requests replacement_requests_toner_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.replacement_requests
    ADD CONSTRAINT replacement_requests_toner_model_id_fkey FOREIGN KEY (toner_model_id) REFERENCES public.toner_models(id);


--
-- Name: stock_movements stock_movements_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: stock_movements stock_movements_installation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_installation_id_fkey FOREIGN KEY (installation_id) REFERENCES public.toner_installations(id);


--
-- Name: stock_movements stock_movements_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id);


--
-- Name: stock_movements stock_movements_printer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_printer_id_fkey FOREIGN KEY (printer_id) REFERENCES public.printers(id);


--
-- Name: stock_movements stock_movements_toner_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_toner_model_id_fkey FOREIGN KEY (toner_model_id) REFERENCES public.toner_models(id);


--
-- Name: toner_alerts_sent toner_alerts_sent_installation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_alerts_sent
    ADD CONSTRAINT toner_alerts_sent_installation_id_fkey FOREIGN KEY (installation_id) REFERENCES public.toner_installations(id);


--
-- Name: toner_alerts_sent toner_alerts_sent_printer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_alerts_sent
    ADD CONSTRAINT toner_alerts_sent_printer_id_fkey FOREIGN KEY (printer_id) REFERENCES public.printers(id);


--
-- Name: toner_installations toner_installations_installed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_installations
    ADD CONSTRAINT toner_installations_installed_by_fkey FOREIGN KEY (installed_by) REFERENCES public.users(id);


--
-- Name: toner_installations toner_installations_printer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_installations
    ADD CONSTRAINT toner_installations_printer_id_fkey FOREIGN KEY (printer_id) REFERENCES public.printers(id);


--
-- Name: toner_installations toner_installations_toner_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_installations
    ADD CONSTRAINT toner_installations_toner_model_id_fkey FOREIGN KEY (toner_model_id) REFERENCES public.toner_models(id);


--
-- Name: toner_stock toner_stock_toner_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: softwave_db_user
--

ALTER TABLE ONLY public.toner_stock
    ADD CONSTRAINT toner_stock_toner_model_id_fkey FOREIGN KEY (toner_model_id) REFERENCES public.toner_models(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO softwave_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO softwave_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO softwave_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO softwave_db_user;


--
-- PostgreSQL database dump complete
--

\unrestrict sYsKqcr2suXIGNc879hiLXWeMLdYudxL87oTMHac6A6swpS9hLHb0MuIqJR8Khd

